[submodule "ca_control/apf_algorithms"]
	path = ca_control/apf_algorithms
	url = git@kaugitea.ikerlan.es:robotics/apf_algorithms.git
[submodule "ca_control/rtt_ur_controllers"]
	path = ca_control/rtt_ur_controllers
	url = git@kaugitea.ikerlan.es:robotics/rtt_ur_controllers.git
[submodule "ca_application/movement_commander"]
	path = ca_application/movement_commander
	url = git@kaugitea.ikerlan.es:diego.rodriguez/movement_commander.git
[submodule "ca_application/simu_helpers"]
	path = ca_application/simu_helpers
	url = git@kaugitea.ikerlan.es:diego.rodriguez/simu_helpers.git
