<?xml version="1.0" ?>
<launch xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">
  
  <!-- Declaring arguments of the launch files | robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="robot_ip" default="172.16.7.75"/>
  <arg name="control_machine" default="ur_ros_machine"/>
  <arg name="control_machine_ip" default="172.16.7.25"/>
  <arg name="control_machine_user" default="ikerlan-mel"/>
  <arg name="env_loader_path" default="/home/$(arg control_machine_user)/remote_env_loader.sh"/>

  <!-- FILE PATHS IN REMOTE MACHINE LOCATION -->
  <arg name="rtde_ext_output_recipe_file" default="/home/ikerlan-mel/hardware_config_ws/src/ur10e_hw_integration/ur/Universal_Robots_ROS_Driver/ur_robot_driver/resources/rtde_ext_output_recipe.txt" doc="Recipe file used for the RTDE-outputs. Only change this if you know what you're doing."/>
  <arg name="rtde_ext_input_recipe_file" default="/home/ikerlan-mel/hardware_config_ws/src/ur10e_hw_integration/ur/Universal_Robots_ROS_Driver/ur_robot_driver/resources/rtde_ext_input_recipe.txt" doc="Recipe file used for the RTDE-inputs. Only change this if you know what you're doing."/>
  <arg name="urscript_file" default="/home/ikerlan-mel/hardware_config_ws/src/ur10e_hw_integration/ur/Universal_Robots_ROS_Driver/ur_robot_driver/resources/ros_control.urscript" doc="Path to URScript that will be sent to the robot and that forms the main control program."/>
  <arg name="rtde_output_recipe_file" default="/home/ikerlan-mel/hardware_config_ws/src/ur10e_hw_integration/ur/Universal_Robots_ROS_Driver/ur_robot_driver/resources/rtde_output_recipe.txt" doc="Recipe file used for the RTDE-outputs. Only change this if you know what you're doing."/>
  <arg name="rtde_input_recipe_file" default="/home/ikerlan-mel/hardware_config_ws/src/ur10e_hw_integration/ur/Universal_Robots_ROS_Driver/ur_robot_driver/resources/rtde_input_recipe.txt" doc="Recipe file used for the RTDE-inputs. Only change this if you know what you're doing."/>

  <machine name="$(arg control_machine)" env-loader="$(arg env_loader_path)"
           address="$(arg control_machine_ip)" user="$(arg control_machine_user)" default="never" />
  <machine name="local"  address="localhost" default="true"/>

  
  <include file="$(find ca_apf_robot)/launch/hardware_setup.launch" pass_all_args="true" />

</launch>
