<?xml version="1.0"?>
<launch>
    <!-- Warning: to make this launch file work, the serial numbers of the cameras must be shorted from the lowest value to the upper ones -->

    <!-- Launching arguments -->
    <arg name="serial_no_camera1"       default="020522070196"/>        <!-- Actually installed on the robot 938422075472 -->
    <arg name="serial_no_camera2"       default="938422075472"/>        <!-- Newest camera 020522070196 -->
    <arg name="camera1"                 default="camera1"/>
    <arg name="camera2"                 default="camera2"/>
    <arg name="tf_prefix_camera1"       default="$(arg camera1)"/>
    <arg name="tf_prefix_camera2"       default="$(arg camera2)"/>
    <arg name="initial_reset"           default="true"/>
    <arg name="align_depth"             default="true"/>
    <arg name="filters"                 default="hole_filling"/>


    <!-- Launching files call -->
    <group ns="$(arg camera1)">
        <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
            <!-- <arg name="camera"              value="$(arg camera1)"/> -->
            <arg name="serial_no"           value="$(arg serial_no_camera1)"/>
            <arg name="tf_prefix"           value="$(arg tf_prefix_camera1)"/>
            <arg name="initial_reset"       value="$(arg initial_reset)"/>
            <arg name="align_depth"         value="$(arg align_depth)"/>
            <arg name="filters"             value="$(arg filters)"/>
        </include>
    </group>

    <group ns="$(arg camera2)">
        <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
            <!-- <arg name="camera"              value="$(arg camera1)"/> -->
            <arg name="serial_no"           value="$(arg serial_no_camera2)"/>
            <arg name="tf_prefix"           value="$(arg tf_prefix_camera2)"/>
            <arg name="initial_reset"       value="$(arg initial_reset)"/>
            <arg name="align_depth"         value="$(arg align_depth)"/>
            <arg name="filters"             value="$(arg filters)"/>
        </include>
    </group>


</launch>
