<?xml version="1.0"?>
<launch>
    <!-- Warning: to make this launch file work, the serial numbers of the cameras must be shorted from the lowest value to the upper ones -->

    <!-- Launching arguments -->
    <arg name="limited" default="true"/>
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="rvizconfig" default="$(find robot_labo_setups)/rviz/ur10e_sim.rviz" />
    <arg name="robot_description" default="robot_description"/>
    <arg name="sim" default="true"/>
    <arg name="transmission_hw_interface" default="ur_controllers/ScaledPositionJointInterface" />
    <arg name="moveit_load_robot_description" default="true"/>

    <!-- Loading the robot -->
    <include  file="$(find robot_labo_setups)/launch/ur10e_sim_ca.launch">
        <arg name="limited" value="$(arg limited)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="rvizconfig" value="$(arg rvizconfig)"/>
        <arg name="robot_description" value="$(arg robot_description)"/>
        <arg name="sim" value="$(arg sim)"/> 
        <arg name="transmission_hw_interface" value="$(arg transmission_hw_interface)"/> 
        <arg name="moveit_load_robot_description" value="$(arg moveit_load_robot_description)"/>
    </include>

    <!-- Launching the remaping for publishing rs_aligned_depth topic in simulation -->
    <!-- <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="register_depth" args="load depth_image_proc/register standalone_nodelet" output="screen" respawn="false">
        <remap from="/camera1/color/camera_info" to="/camera1/depth_cam/color/camera_info" />
        <remap from="/camera1/depth/camera_info" to="/camera1/depth_cam/depth/camera_info" />
        <remap from="/camera1/depth/image_raw" to="/camera1/depth_cam/depth/image_raw" />
    </node>
    <node pkg="nodelet" type="nodelet" name="cloudify" args="load depth_image_proc/point_cloud_xyzrgb standalone_nodelet" output="screen" respawn="false">
        <remap from="/camera1/color/camera_info" to="/camera1/depth_cam/color/camera_info" />
        <remap from="/camera1/color/image_raw" to="/camera1/depth_cam/color/image_raw" />
        <param name="queue_size" value="10" />
    </node> -->

    <!-- <param name="/use_sim_time" value="true"/>

    <arg name="gl_compat" default="false" />
    <arg name="sim_world" default="$(find app_apf_collision_avoidance)/config/base.world" />
    <arg name="rvizconfig" default="$(find app_apf_collision_avoidance)/config/rviz_config.rviz" />
    <arg name="transmission_hw_interface" default="ur_controllers/ScaledVelocityJointInterface" /> -->
    <!-- <arg name="started_controllers" default="vel_flacco_apf_controller" /> flacco_apf_controller -->
    <!-- <arg name="stopped_controllers" default="arm_controller" /> arm_controller -->

    <!-- <rosparam file="$(find app_apf_collision_avoidance)/config/sim_rtt_apf_controllers.yaml" /> -->
    <!-- <include file="$(find robot_labo_setups)/launch/ur10e_sim_ca.launch" pass_all_args="true" /> -->

    <!-- <remap from="/obstacle_pub/apf_dists" to="/apf_cp_distances" /> -->
    <!-- <node name="obstacle_publisher" pkg="app_apf_collision_avoidance" type="apf_obstacle_publisher_node" output="screen">
        <rosparam command="load" file="$(find app_apf_collision_avoidance)/config/sim_obstacle_publish.yaml" />
    </node>
    
    <include unless="$(arg gl_compat)" file="$(find app_apf_collision_avoidance)/launch/urdf_filter.launch" /> -->


</launch>