<?xml version="1.0"?>

<launch>




  <!-- Launch the hardware environment -->
  <include file="$(find ca_apf_robot)/launch/hardware_remote_setup.launch" pass_all_args="true" />
  
  <!-- Launch the realsense vision pipeline -->
  <remap from="/camera1/depth_obstacles/image" to="/camera1/depth/image_rect_raw" />        <!-- The from topic is the output of the obstacle avoidance algorithms -->
  <node name="image_processing_node" pkg="ca_apf_scene_segmentation" type="ObtenerImagensyTf" output="screen" required="true"/>
  
  

</launch>
